html, body {
    margin: 0;
}


.Marathon{
    text-align: center;
    background: url("https://images3.alphacoders.com/746/746694.jpg ") no-repeat center center;
    background-size: cover;
    height: 600px;

}






