html, body {
    margin: 0;
}

h1, h2, h3, a, p, footer{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;

}

p {
    font-family: Helvetica, Arial, sans-serif;
}


header {
    text-align: center;
    background: url("https://images3.alphacoders.com/746/746694.jpg ") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;

}

.container h1{
    font-size: 100px;
    color: white;
    margin-bottom: 0;
}

.container p {
    margin-top: 0;
    color: white;
    font-size: 25px;
}

header .container {
    position: relative;
    top: 150px;
}

header .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}

header div{
    display: inline-block;
}

nav ul{
    display: inline-block;

}

nav ul li{
    display: inline;
    padding: 140px;
    font-size: 20px;
}

nav ul li a{
    color: white;
}

a:hover{
    color: cornflowerblue;
}

a:link{
    text-decoration: none;
}

.btn:hover{

}

nav{
    background-color: #1c1c1c;

}


article h3{
    padding-top: 20px;
    font-size: 40px;
}

section h2{
    padding-top: 30px;
    font-size: 80px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
}

section{
    margin-top: 0;
    text-align: center;
    background: url("http://i.imgur.com/VsWq8P9.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;

}

footer{
    background-color: #1c1c1c;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:20px;

}

article h3{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

 {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    padding-top: 10px;
    background-color: #1c1c1c;
    float: left;
    margin: 100px;
    background: rgba(28,28,28,0.8);


}article p{
      padding-left: 25px;
        padding-right: 10px;
      color: white;
    font-size: 22px;
    text-align: center;
    text-transform: none;
 }



